.icon-more-2 {
    position: absolute;
    float: right;
    right: 157px;
    margin-top: 16px;
}
.loading-full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background:"gray";
    
  }
  .block-loading {
    text-align: center;
  }
  .spinner-border {
    display: flex;
    align-items: center;
    justify-content: center;
  }